<h1>Marker Verification</h1>

<ol>
<% @locations.each_with_index do |location, index| %>
  <li>
    <%= link_to location.name, location %><br>
    <%= l JSON.parse(@recent_marker_votes[index])['verified_at'].to_datetime %><br>
    YES: <%= location.marker_yes %>,
    NO: <%= location.marker_no %><br>
    <%= location.marker_contributors.collect { |i| "#{JSON.parse(i)['user']}-#{JSON.parse(i)['vote']}" }.join(", ") %>
  </li>
<% end %>
</ol>