<%= image_tag "/images/iphone-homescreen.png", :width => 896, :height => 771 %>
<div id="homeLeft">
	<h4>Near You</h4>
	<% @near.each do |location| %>
	<o>
		<strong><%= link_to location.name, location %></strong>
		<small>updated: <%= time_ago_in_words location.updated_at %></small><br/>
		<%= location.address %>
	</p>
	<% end %>		
	
	<h4>Recently Reviewed</h4>
	<ul><% @comments.each do |comment| %>
		<li><%= link_to comment.commentable.name, comment.commentable %></li>
	<% end %></ul>
	
	<iframe src="http://www.facebook.com/plugins/activity.php?site=pushwood.com&amp;width=250&amp;height=300&amp;header=true&amp;colorscheme=light&amp;font&amp;border_color&amp;recommendations=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:250px; height:300px;" allowTransparency="true"></iframe>
	
	<iframe src="http://www.facebook.com/plugins/recommendations.php?site=pushwood.com&amp;width=250&amp;height=300&amp;header=true&amp;colorscheme=light&amp;font&amp;border_color" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:250px; height:300px;" allowTransparency="true"></iframe>
	
</div>

<div id="homeCenter">
	<h4>New Images</h4>
	<% @images.each do |image| %>
	<p class="imageHolder">
		<%= link_to image.location.name, image.location %><br>
		updated <%= time_ago_in_words image.updated_at %> ago<br>
		<%= link_to image_tag(image.img.url(:large)), image.location %>
	</p>
	<% end %>
</div>

<div id="homeRight">
	<h4>Recently Updated Locations</h4>
	<ul><% @recent_locations.each do |location| %>
	<li>
		<strong><%= link_to location.name, location %></strong><br>
		<small><strong>updated:</strong> <%= time_ago_in_words location.updated_at %> ago</small><br>
		<%= location.city %>, <%= location.state %>
	</li>
	<% end %>	</ul>
</div>