

<h1>Recently Updated Locations</h1>
<% @recent_locations.each do |location| %>
<o>
	<strong><%= link_to location.name, location %></strong>
	<small>updated: <%= time_ago_in_words location.updated_at %></small><br/>
	<%= location.address %>
</p>
<% end %>	

<h1>New Comments</h1>
<% @comments.each do |comment| %>
<p class="imageHolder">
	<%= link_to comment.commentable.name, comment.commentable %><br/>		
	updated <%= time_ago_in_words comment.updated_at %> ago<br/>
	<p>
		<%= comment.comment %>
	</p>
	<%= comment.user.email %>
</p>
<% end %>

<h1>New Images</h1>
<% @images.each do |image| %>
<p class="imageHolder">
	<%= link_to image.location.name, image.location %><br/>
	updated <%= time_ago_in_words image.updated_at %> ago<br/>
	<%= link_to image_tag(image.img.url(:large)), image.location %>
</p>
<% end %>	


