<div class="section frm">
  <%= form_for([:admin,   @role]) do |f| %>
    <% if @role.errors.any? %>
      <div id="error_explanation" class="section error">
        <h2><%= pluralize(@role.errors.count, "error") %> prohibited this admin_role from being saved:</h2>

        <ul>
        <% @role.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  <fieldset>
    <div class="form-row">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <div class="form-row submit">
      <%= f.submit :class => "btn green float-right" %>
    </div>
    </fieldset>
  <% end %>
</div>