<h1><%= @place.name %> Skate Park Directory</h1>
<div class="row">
  <div class="span10">
    <div id="parklist">
      <% @locations.each do |location| %>
      <div class="parkListing clearfix">
        <div class="parkInfo">
          <h5><%= link_to location.name, location %> <%= location.rating_average %></h5>
          <p>
            <%= "Verified!" if location.marker_verified? %> <%= location.city %>, <%= location.state %> 
            yes:<%= location.marker_yes %>
            no:<%= location.marker_no %><br>
            marker_contributors:<%= location.marker_contributors %>
          </p>
        </div>
        <a href="#" class="zoomBtn btn" data-locationId="<%= location.id %>" data-lat="<%= location.lat %>" data-lng="<%= location.lng %>">preview</a>
      </div>
      <% end %>
    </div>
  </div>
  <div class="span6">
    <ol>
    <% GeoplanetPlace.where("parent_woeid = ? and place_type = 'State'", @place.woeid).each do |state| %>
      <li>
        <%= link_to state.name, "/skateparks/us/#{state.name}" %>
      </li>
    <% end %>
    </ol>
  </div>
</div>


<script type="text/template" id="markerQATemplate" charset="utf-8">
<div class="markerQA">
  <div class="markerTitle">
    Do you see a park here?
  </div>
  <div class="markerForm">
    <%= form_tag "/locations/{{locationId}}/verify_marker.json", :remote => true do %>
      <%= image_submit_tag "marker/yes.png", :name => "visible", :value => "yes" %><%= image_submit_tag "marker/no.png", :name => "visible", :value => "no" %>
    <% end %>
  </div>
</div>
</script>



<script type="text/template" id="parkTestTemplate" charset="utf-8">
  <div id="parkTest" style="display:none" class="alert-message block-message warning clearfix">
    <p><strong>Verify Skate Park:</strong> Can you see a skatepark in the map above?</p>
    <div class="alert-actions">
      <a class="btn small" href="#">YES</a> <a class="btn small" href="#">NO</a>
    </div>
  </div>
</script>


