<% content_for :title do %>
User
<% end %>

<div class="container">
  <header>
    <h1><%= @user.full_name %></h1>
    <p>
    </p>
  </header>
</div>

<div class="pageit container">
  <div id="content" class="container">
    <div class="span12">
      <h3>
        <span class="bold">Email:</span>
        <%= @user.email %>
      </h3>
      <div class="section mt18">
        <h3>Current roles</h3>
        <% if @user.roles.empty? %>
          <p>This user has no roles.</p>
        <% end %>
        <ul><% @user.roles.each do |role| %>
          <li><%= role.name %></li>
        <% end %>
        </ul>
      </div>

      <div class="">
        <div class="float-left">
          <%= link_to 'Back', admin_users_path %>
        </div>
        <div class="float-right">
          <%= link_to 'Edit', edit_admin_user_path(@user), :class => "btn yellow" %>
        </div>
      </div>



      <ul class="thumbnails">
        <% @user.images.each_with_index do |image, index| %>
        <li class="span4">
          <div class="thumbnail">
            <%= image_tag image.img.url(:large_sq) %>
            <h6><span class="badge"><%= l image.created_at.to_date, format: :short %></span> <%= link_to image.location.name, image.location %></h6>

          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>