<h2><%= state_full_name(@state).titleize %></h2>

<div id="wideContent">
  <h3>Parks</h3>
  <% @locations.each do |location| %>
    <div class="cont">
      <%= link_to location.name, location %>
      <span style="display:inline-block;width:50px;"><%= ratings_for location, :static, :small => true %>  </span><br>
      <%= location.address %>
    </div>
  <% end %>
</div>

<div id="skinnySidebar">
  <h3>Cities</h3>
  <ul>
  <% @cities.each do |city| %>
  <% unless city.empty? %>
    <li><%= link_to(city, archive_city_path(:country => @country.parameterize, :state => @state.parameterize, :city => city.parameterize)) %></li>
  <% end %>
  <% end %>
  </ul>  
</div>