<%= form_for(@location, :html => { :multipart => true }) do |f| %>
	<%= f.hidden_field :lat %>
	<%= f.hidden_field :lng %>


<div id="content">
	<% if @location.new_record? %>
		<h2>New Skate Spot</h2>
	<% else %>
		<h1>Editing <%= @location.name %></h1>
	<% end %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>
      <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<h3>Details</h3>
	<div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :hours %>
    <%= f.text_field :hours, :placeholder => "ex: 10am to 6pm" %>
  </div>
  <div class="field">
		<%= f.label :has_lights, "Lights:" %>
    <%= f.check_box :has_lights %><br />

		<%= f.label :is_free, "Free:" %>
    <%= f.check_box :is_free %><br />

		<%= f.label :is_outdoors, "Outdoors:" %>
    <%= f.check_box :is_outdoors %><br />

		<%= f.label :has_wood, "Wood:" %>
    <%= f.check_box :has_wood %><br />

		<%= f.label :has_concrete, "Concrete:" %>
    <%= f.check_box :has_concrete %><br />

		<%= f.label :pads_required, "Pads:" %>
    <%= f.check_box :pads_required %><br />
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, :cols => 45, :rows => 10 %>
  </div>

	<h2>Location</h2>
	<div class="field">
	  <%= f.label :street %>
    <%= f.text_field :street %>
	</div>
	<div class="field">	
    <%= f.label :city %>
    <%= f.text_field :city %>
	</div>
	<div class="field">	
    <%= f.label :state %>
    <%= f.text_field :state %>
	</div>
	<div class="field">	
    <%= f.label :postal %>
    <%= f.text_field :postal %>
	</div>
	<div class="field">	
    <%= f.label :country %>
    <%= f.text_field :country %>
	</div>
	<div class="field">	
    <%= label_tag "map", "Exact Location"  %>
		<div id="exactLocationMap"></div>
	</div>
	
  <div class="actions">
    <%= f.submit %>
  </div>

</div>
<div id="sidebar">
	
	<div id="diagram_fields">
		<h4>Images</h4>
		<ul id="sortable">
		<%= f.fields_for :images do |images_builder| %>
	    <%= render 'image_fields', :f => images_builder %>		
		<% end %>
		</ul>		
		<%= link_to_add_fields("Add Image", f, :images) %>
	</div>
	<% unless @location.new_record? %>
	<div id="name">
		<h3>Are you the owner?</h3>
		<p>Claim your park and make it easier for people to find.
		Update your listing with photos, videos, and more.
		Learn how many people have viewed your park.</p>
	</div>
	
	<div id="name">
		<h3>Have a problem that can't be edited?</h3>
		<p>Just drop me an email at <a href="mailto:jspooner@pushwood.com?subject=Fix <%= @location.id %>&body=http://pushwood.com/locations/<%= @location.id %>">jspooner@pushwood.com</a>.</p>
	</div>
	<% end %>
</div>



<% end %>

