<br>
<br>
<%= form_for(@location, :html => { :multipart => true }) do |f| %>

  <div class="row">  
    <div class="span10">
      <fieldset id="" class="">
        <% if @location.new_record? %>
          <legend>New Skate Spot</legend>
        <% else %>
          <legend>Editing <%= @location.name %></legend>
        <% end %>
        <% if @location.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>
            <ul>
            <% @location.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="clearfix">
          <%= f.label :name %>
          <div class="input">
            <%= f.text_field :name %>
          </div>
        </div>
        <div class="clearfix">
          <%= f.label :phone %>
          <div class="input">
            <%= f.text_field :phone %>
          </div>
        </div>
        <div class="clearfix">
          <%= f.label :hours %>
          <div class="input">
            <%= f.text_field :hours, :placeholder => "ex: 10am to 6pm" %>
          </div>
        </div>    
      </fieldset>
      <fieldset id="tags" class="">
        <legend>About the Spot</legend>
        <div class="clearfix">
          <label id="optionsCheckboxes">List of options</label>
          <div class="input">
            <ul class="inputs-list">
              <li>
                <label for="location_has_lights">
                  <%= f.check_box :has_lights %>
                  <span>Lights:  Check if this spot has lights.</span>
                </label>
              </li>
              <li>
                <label for="location_is_free">
                  <%= f.check_box :is_free %>
                  <span>Free:  This spot doesn't have a fee.</span>
                </label>
              </li>
              <li>
                <label for="location_is_outdoors">
                  <%= f.check_box :is_outdoors %>
                  <span>Outdoors:  Enjoy the sun light at this spot?</span>
                </label>
              </li>
              <li>
                <label for="location_has_wood">
                  <%= f.check_box :has_wood %>
                  <span>Wood:  Do your roll on Skatelite, Masonite, or plywood? </span>
                </label>
              </li>
              <li>
                <label for="location_has_concrete">
                  <%= f.check_box :has_concrete %>
                  <span>Concrete:  Are you rolling smooth on concrete? </span>
                </label>
              </li>
              <li>
                <label for="location_pads_required">
                  <%= f.check_box :pads_required %>
                  <span>Pads:  Do look like a football player when you skate here? </span>
                </label>
              </li>
            </ul>
            <span class="help-block">
              <strong>Note:</strong> These options help improve searching!
            </span>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend></legend>
        <div class="clearfix">
          <%= f.label :description %>
          <div class="input">
            <%= f.text_area :description %>
            <span class="help-block">
              Some HTML is allowed
            </span>
          </div>
        </div>
      </fieldset>
      <fieldset id="location" class="">
        <legend>Location</legend>
        <% if action_name == "new" %>
        <div class="clearfix">
          <div class="input"><a href="#" id="useCurrentLocation" class="btn"><img src="/images/blue-dot.png"> Use Current Location</a></div>
        </div>
        <% end %>
        <div class="clearfix">
          <%= f.label :street %>
          <div class="input">
            <%= f.text_field :street %>
          </div>
        </div>
        <div class="clearfix">
          <%= f.label :city %>
          <div class="input">
            <%= f.text_field :city %>
          </div>
        </div>
        <div class="clearfix">
          <%= f.label :state %>
          <div class="input">
            <%= f.text_field :state %>
          </div>
        </div>
        <div class="clearfix">
          <%= f.label :postal %>
          <div class="input">
            <%= f.text_field :postal %>
          </div>
        </div>
        <div class="clearfix">
          <%= f.label :country %>
          <div class="input">
            <%= f.text_field :country %>
          </div>
        </div>
        
        <div class="clearfix">
          <label>Map</label>
          <div class="input">
            <div class="field">
              <a href="#" id="updateMarker" class="btn">Update marker from address</a>
              <a href="#" id="updateAddress" class="btn">Update address from marker</a>
              <div id="exactLocationMap"></div>
            </div>
          </div>
        </div>
        <div class="clearfix">
          <%= f.label :lat, "Latitude" %>
          <div class="input">
            <%= f.text_field :lat, :class => "disabled" %>
          </div>
        </div>
        <div class="clearfix">
          <%= f.label :lng, "Longitude" %>
          <div class="input">
            <%= f.text_field :lng, :class => "disabled" %>
            <ul class="inputs-list">
              <li><label><%= check_box_tag "lockLatLng", "" %> <span>Enable latitude and longitude fields</span></label></li>
            </ul>
          </div>
        </div>
      </fieldset>
      <% if current_user.role? :admin or current_user.role? :photoadmin %>
      <fieldset>
        <legend>Images</legend>
        <div class="clearfix">
          <div class="clearfix">
            <div class="input">
              <p><%= link_to_add_fields("Add Image", f, :images) %></p>
              <div id="diagram_fields">
                <ul id="sortable">
                <%= f.fields_for :images do |images_builder| %>
                  <%= render 'image_fields', :f => images_builder %>
                <% end %>
                </ul>
              </div>
            </div>
          </div>
          
        </div>
      </fieldset>
      <% end %>
    </div>

  </div>

  <div class="actions">
    <%= f.submit "Save", :class => "btn primary" %>
    <%= link_to "Cancel", @location, :class => "btn" %>
  </div>





<% end %>