<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @location.name %>
</p>

<p>
  <b>Lat/Lng:</b>
  <%= @location.lat %>,<%= @location.lng %>
</p>

<p>
  <b>Map link:</b>
  <%= link_to @location.googlemapurl, @location.googlemapurl %>
</p>

<%= debug @json %>
<% @tricks.each do |trick| %>
<%= image_tag trick.image.url(:mobile_thumb) %>
<%= image_tag trick.image.url(:mobile) %>
<br/>
<% end %>
<table>
  <tr>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tricks.each do |trick| %>
  <tr>
    <td><%= image_tag trick.image.url(:mobile) %></td>
		<td><%= trick.lat %></td>
    <td><%= link_to 'Show', trick %></td>
    <td><%= link_to 'Edit', edit_trick_path(trick) %></td>
    <td><%= link_to 'Destroy', trick, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>


<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
