<% content_for :title do %>
<%= @location.name %> - Skatepark Locator
<% end %>


<p id="notice"><%= notice %></p>

<div id="content">
	<h1><%= @location.name %></h1>
	<p>
		<%= @location.address %>
	</p>
	<%# ratings_for @location, :dimension => :overall %>
	<div id="imagesHolder">
	<% @location.images.each do |image| %>
		<%= image_tag image.img.url(:large) %>
	<% end %>
	</div>
	<p>
		<%= @location.description %>
	</p>	
	<% if @location.cd_page %>
	<h3>Links</h3>
	<p>
		<%= link_to "concretediciples.com", @location.cd_page.url, :target => "blank" %>
	</p>
	<% end %>
	
	<h3>Reviews</h3>
	<ul>
		<% @location.comments.each do |comment| %>
			<li><%= comment.comment %></li>
		<% end %>
	</ul>
	<% if current_user %>
		<%= form_for([@location, Comment.new]) do|f| %> 
		  <%= f.hidden_field :commentable_id, :value => @location.id %>
		  <%= f.hidden_field :commentable_type, :value => 'Location' %> 
		  <%= f.label :comment, "Write a review" %><br /> 
		  <%= f.text_area :comment %> <br/>
		  <%= f.submit "Post Comment" %> 
		<% end %>
	<% else %>
		Login to comment.
	<% end %>
	
	
</div>
<div id="sidebar">
	<img border="0" src="http://maps.google.com/maps/api/staticmap?center=<%= @location.lat %>,<%= @location.lng %>&zoom=18&size=300x250&maptype=hybrid&markers=color:blue|label:A|<%= @location.lat %>,<%= @location.lng %>&sensor=false" alt="<%= @location.name %>">	
	<%= link_to 'Edit Location', edit_location_path(@location), :id => "editBtn" %>
	<h3>Nearby Spots</h3>
	<ul>
	<% for location in @location.nearbys(20) %>
	  <li><%= link_to location.name, location %> (<%= location.distance.round(2) %> miles)</li>
	<% end %>
	</ul>
</div>






