<% content_for :title do %>
<%= @location.name %> - <%= @location.address %> - Skatepark Locator App
<% end %>
<% content_for :description do %>
<%= @location.description %>
<% end %>

<br>
<% if notice %>
<div class="alert-message success">
  <a class="close" href="#">×</a>
  <p><strong><%= notice %></strong></p>
</div>
<% end %>

<div class="row">
  
<div id="content" class="span10">
	<h2><%= @location.name %></h2>	

	<div id="map" class="cont">
	</div>

	<div id="info" class="cont">
		<p>
			<strong>Address:</strong> <%= @location.address %><br>
			<span style="display:none" id="geo" lat="<%= @location.lat %>" lng="<%= @location.lng %>"></span>
			<span style="display:none" id="lat"><%= @location.lat %></span>
			<span style="display:none" id="lng"><%= @location.lng %></span>
			<strong>Has Lights:</strong> <%= (@location.has_lights?) ? "Yes" : "No" %><br>
			<strong>Videos:</strong> <%= link_to "YouTube", "http://www.youtube.com/results?search_query=#{@location.name}&aq=f" %>
		</p>
		<p>
			<strong>Description</strong><br>
			<%= @location.description.html_safe %>
		</p>
	</div>
	
	<% unless @location.images.empty? %>
	<div id="photos" class="cont clearfix">
		<h4>Photos</h4>
		<% @location.images.each do |image| %>
			<a href="<%= image.img.url(:xlarge) %>" rel="imageGroup" class="gridImage"><%= image_tag image.img.url(:large_sq), %></a>
		<% end %>
	</div>
	<% end %>	
	
	<div id="reviews" class="cont">
		<h4>Reviews</h4>
		<ul>
			<% @location.comments.each do |comment| %>
				<li><%= comment.comment %></li>
			<% end %>
		</ul>
		<!-- <% if current_user %>
		      <%= form_for([@location, Comment.new]) do|f| %> 
		        <%= f.hidden_field :commentable_id, :value => @location.id %>
		        <%= f.hidden_field :commentable_type, :value => 'Location' %> 
		        <%= f.label :comment, "Write a review" %><br /> 
		        <%= f.text_area :comment %> <br/>
		        <%= f.submit "Post Comment" %> 
		      <% end %>
		    <% end %>  -->
		<fb:comments href="<%= location_url(@location) %>" num_posts="5" width="528"></fb:comments>	
	</div>
	
	
</div>



<div id="sidebar" class="span6">
  <% if can? :manage, @location %>
  <div class="cont">
    <p>
      <%= link_to 'Edit Location', edit_location_path(@location), :class => "btn primary" %>
      <p>Version <%= @location.version %>
      <% if @location.version > 1 %>
        | <%= link_to "Previous version", :version => @location.version-1 %>
      <% end %>
      <% if params[:version] %>
        | <%= link_to "Latest version", :version => nil %>
      <% end %></p>
    </p>
  </div>
  <% else %>
    <%= link_to 'Edit Location', "/users/sign_in", :class => "btn primary" %>
  <% end %>
  
  <div class="cont">
    <h3>Rating</h3>
    <%= render "rating" %>
  </div>
	<h3>Share</h3>
	<div class="cont">
		<fb:like href="<%= location_url(@location) %>" send="true" width="450" show_faces="true" action="like" font=""></fb:like>
	</div>	
	<div class="cont">
		<g:plusone></g:plusone>
	</div>
	<div class="cont">
		<iframe allowtransparency="true" frameborder="0" scrolling="no"
		        src="http://platform.twitter.com/widgets/tweet_button.html"
		        style="width:130px; height:20px;"></iframe>
	</div>
	
	<div class="cont">
    <script type="text/javascript"><!--
    google_ad_client = "ca-pub-6987587183408883";
    /* Test - Text/Rich 300x250 */
    google_ad_slot = "2691696764";
    google_ad_width = 300;
    google_ad_height = 250;
    //-->
    </script>
    <script type="text/javascript"
    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
  </div>
	
	<div class="cont">
		<h3>Nearby Spots</h3>
		<ul>
		<% for location in @location.nearbys(20).sort { |a,b| a.distance.round(2) <=> b.distance.round(2)  } %>
		  <li><%= link_to location.name, location %> <em><%= location.distance.round(2) %> miles</em></li>
		<% end %>
		</ul>		
	</div>
  
</div>

</div>

<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=247714625258014&amp;xfbml=1"></script>
<!--  Place this tag after the last plusone tag -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>


