<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @location.name %>
</p>

<p>
  <b>Lat/Lng:</b>
  <%= @location.lat %>,<%= @location.lng %>
</p>

<p>
  <b>Map link:</b>
  <%= link_to @location.googlemapurl, @location.googlemapurl %>
</p>

<img border="0" src="http://maps.google.com/maps/api/staticmap?center=<%= @location.lat %>,<%= @location.lng %>&zoom=18&size=400x400&maptype=hybrid&markers=color:blue|label:A|<%= @location.lat %>,<%= @location.lng %>&sensor=false" alt="Three Brooklyn Zipcodes">



<p>
	<%= @location.street %><br/>
	<%= @location.city %> <%= @location.state %>, <%= @location.postal %><br/>
	<%= @location.country %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
