<% content_for :title do %>
<%= @location.name %> - Skatepark Locator
<% end %>


<p id="notice"><%= notice %></p>

<div id="content">
	<h1><%= @location.name %></h1>
	<small>
		<%= @location.address %>
	</small>
	
	<img border="0" id="skatespotMap" src="http://maps.google.com/maps/api/staticmap?center=<%= @location.lat %>,<%= @location.lng %>&zoom=20&size=528x400&maptype=hybrid&markers=color:blue|label:A|<%= @location.lat %>,<%= @location.lng %>&sensor=false" alt="<%= @location.name %>">	
	
	
	
	<%# ratings_for @location, :dimension => :overall %>
	<div id="imagesHolder">
	<% @location.images.each do |image| %>
		<%= image_tag image.img.url(:large) %>
	<% end %>
	</div>
	<p>
		<%= @location.description %>
	</p>	
	<% if @location.cd_page %>
	<h4>Links</h4>
	<p>
		<%= link_to "concretediciples.com", @location.cd_page.url, :target => "blank" %>
	</p>
	<% end %>
	
	<h4>Reviews</h4>
	<ul>
		<% @location.comments.each do |comment| %>
			<li><%= comment.comment %></li>
		<% end %>
	</ul>
	<% if current_user %>
		<%= form_for([@location, Comment.new]) do|f| %> 
		  <%= f.hidden_field :commentable_id, :value => @location.id %>
		  <%= f.hidden_field :commentable_type, :value => 'Location' %> 
		  <%= f.label :comment, "Write a review" %><br /> 
		  <%= f.text_area :comment %> <br/>
		  <%= f.submit "Post Comment" %> 
		<% end %>
	<% else %>
		Login to comment.
	<% end %>
</div>



<div id="sidebar">

	<% if current_user && current_user.email == "jspooner@gmail.com" %>
	<%= link_to 'Edit Location', edit_location_path(@location), :id => "editBtn" %>
	<% end %>
	<h4>Nearby Spots</h4>
	<ul>
	<% for location in @location.nearbys(20) %>
	  <li><%= link_to location.name, location %> (<%= location.distance.round(2) %> miles)</li>
	<% end %>
	</ul>
</div>






