<% content_for :title do %>
<%= @location.name %> - <%= @location.address %> - Skatepark Locator App
<% end %>
<% content_for :head do %>
<meta property="fb:app_id"      content="202979059717647" /> 
<meta property="og:type"        content="pushwood:skate_park" />
<meta property="og:url"         content="<%= location_url @location %>" /> 
<meta property="og:title"       content="<%= @location.name %>" /> 
<meta property="og:description" content="<%= @location.description %>" /> 
<meta property="og:image"       content="<%= @location.googlemapurl %>" />
<% end %>
<% content_for :description do %>
<%= @location.description %>
<% end %>

<% if notice %>
<div class="alert-message success">
  <a class="close" href="#">×</a>
  <p><strong><%= notice %></strong></p>
</div>
<% end %>

<h2><%= @location.name %></h2><br>

<div class="row">
  
<div id="content" class="span10">
  <% if params[:version] %>
  <div class="alert-message block-message message">
    <a class="close" href="#">×</a>
      <p><strong>Revision #<%= params[:version] %></strong> This is not the latest revision.</p>
    <div class="alert-actions">
      <% if can? :revert, @location %>
        <%= link_to "Revert to version #{params[:version]}", revert_location_path(@location, :version => params[:version]), {:class => "btn small danger", :confirm => "Revert to version #{params[:version]} ?"}  %>
       <% end %>
      <%= link_to "Latest version", @location, :class => "btn small" %>
    </div>
  </div>
  <% end %>
  
  <div id="map" class="cont"></div>

  <div id="info" class="cont">
    <p>
      <strong>Address:</strong> <%= @location.address %><br>
      <span style="display:none" id="geo" data-lat="<%= @location.lat %>" data-lng="<%= @location.lng %>"></span>
      <strong>Has Lights:</strong> <%= (@location.has_lights?) ? "Yes" : "No" %><br>
      <strong>Videos:</strong> <%= link_to "YouTube", "http://www.youtube.com/results?search_query=#{@location.name}&aq=f" %>
    </p>
    <p>
      <strong>Description</strong><br>
      <%= @location.description.html_safe %>
    </p>
  </div>

  <% unless @location.images.approved.empty? %>
    <div id="photos" class="cont clearfix">
      <h4>Photos</h4>
      <% @location.images.approved.each do |image| %>
        <a href="<%= image.img.url(:xlarge) %>" rel="imageGroup" class="gridImage"><%= image_tag image.img.url(:large_sq), %></a>
      <% end %>
    </div>
  <% end %>


	<div id="reviews" class="cont">
		<h4>Reviews</h4>
		<ul>
			<% @location.comments.each do |comment| %>
				<li><%= comment.comment %></li>
			<% end %>
		</ul>
		<!-- <% if current_user %>
		      <%= form_for([@location, Comment.new]) do|f| %> 
		        <%= f.hidden_field :commentable_id, :value => @location.id %>
		        <%= f.hidden_field :commentable_type, :value => 'Location' %> 
		        <%= f.label :comment, "Write a review" %><br /> 
		        <%= f.text_area :comment %> <br/>
		        <%= f.submit "Post Comment" %> 
		      <% end %>
		    <% end %>  -->
		<fb:comments href="<%= location_url(@location) %>" num_posts="5" width="528"></fb:comments>	
	</div>
	
</div>

<div id="sidebar" class="span6">
  <% if can? :update, @location %>
  <div class="cont">
    <p>
      <%= link_to 'Edit Location', edit_location_path(@location), :class => "btn" %>
      <a id="showHideHistory" class="btn" href="#">History</a>
    </p>
    
    <div style="display:<%= params[:version].nil? ? "none" : "block"  %>" id="historyList">
      <p>
        Version <%= @location.version %>
        <% if @location.version > 1 %>
          | <%= link_to "Previous version", :version => @location.version-1 %>
        <% end %>
        <% if params[:version] %>
          | <%= link_to "Latest version", :version => nil %>
        <% end %>
      </p>
      <ul>
        <% @location.versions.reverse.each do |v| %>
        <li>
          <strong><%= link_to "v#{v.number} #{l(v.updated_at, :format => :short)}", :version => v.number %></strong>
         <% unless v.reverted_from.nil? %>
           reverted_from v<%= v.reverted_from %>
         <% end %>
         <% if can? :manage, @location and v.user %>
          <br> Edited by: <span class="label info"><%= v.user.email %></span>
         <% end %>
         <br>
         <ul>
         <% v.modifications.each do |mod| %>
            <li>
              <%= mod.first.try(:titleize) %> <%= link_to "changes", "#", :class => "showhide-changes" %><br>
              <ul style="display:none">
                <li><span class="label warning">Old</span> <span class="highlight"><%= mod[1][0] %></span></li>
                <li><span class="label success">New</span> <span class="highlight"><%= mod[1][1] %></span></li>
              </ul>
            </li>
         <% end %>
         </ul>        
        </li>
        <% end %>
      </ul>
      
    </div>
    <% if can? :destroy, @location %>
      <%= link_to 'Destroy', @location, :confirm => 'Are you sure?', :method => :delete %>
    <% end %>
  </div>
  <% else %>
    <%= link_to 'Edit Location', "/users/sign_in", :class => "btn primary" %>
  <% end %>
  
  <div class="cont">
    <h3>Rating</h3>
    <%= render "rating" %>
  </div>
  <h3>Share</h3>
  <div class="cont">
    <fb:like href="<%= location_url(@location) %>" send="true" width="450" show_faces="true" action="like" font=""></fb:like>
  </div>
  <div class="cont">
    <g:plusone></g:plusone>
  </div>
  <div class="cont">
    <iframe allowtransparency="true" frameborder="0" scrolling="no"
          src="http://platform.twitter.com/widgets/tweet_button.html"
          style="width:130px; height:20px;"></iframe>
  </div>



  <div class="cont">
    <h3>Nearby Spots</h3>
    <ul>
      <% for location in @location.nearbys(20).sort { |a,b| a.distance.round(2) <=> b.distance.round(2)  } %>
      <li><%= link_to location.name, location %> <em><%= location.distance.round(2) %> miles</em></li>
      <% end %>
    </ul>
  </div>
  <div class="well">
    <%= link_to image_tag("available-on-the-app-store.jpg"), "http://itunes.apple.com/us/app/pushwood-skatepark-locator/id457305109?mt=8", :target => "_blank", :rel => "external" %>
  </div>
  
</div>

</div>

<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=247714625258014&amp;xfbml=1"></script>
<!--  Place this tag after the last plusone tag -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>


<script type="text/template" id="markerQATemplate" charset="utf-8">
<div class="markerQA">
  <div class="markerTitle">
    Do you see a park here?
  </div>
  <div class="markerForm">
    <%= form_tag "/locations/{{locationId}}/verify_marker.json", :remote => true, :id => "markerVoting" do %>
      <%= image_submit_tag "marker/yes.png", :name => "visible", :value => "yes" %><%= image_submit_tag "marker/no.png", :name => "visible", :value => "no" %>
    <% end %>
  </div>
</div>
</script>
